name: PHPUnit

on: [ push, pull_request ]

jobs:
  build:
    name: PHP ${{ matrix.php }} with PHPUnit ${{ matrix.phpunit }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [7.3, 7.4]
        phpunit: ['default', '~8.5.0', '~8.4.0', '~8.2.0', '~7.0']
        include:
        - php: 7.2
          phpunit: '~7.0'
        - php: 7.2
          phpunit: '~8.0'
        - php: 7.2
          phpunit: '~8.2.0'
        - php: 7.2
          phpunit: '~8.4.0'
        - php: 7.2
          phpunit: '~8.5.0'

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup PHP ${{ matrix.php }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}

    - name: Use specific PHPUnit version
      if: ${{ matrix.phpunit != 'default' }}
      run: composer require --dev --no-update phpunit/phpunit:${{ matrix.phpunit }}

    - name: Validate composer.json
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ matrix.php }}-${{ hashFiles('composer.json') }}

    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist --no-progress

    - name: Run PHPUnit
      run: vendor/bin/phpunit --bootstrap vendor/autoload.php tests/
